.card-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ededed;

  .card-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 0px 0;
    width: 702px;
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
  }

  .card-title {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title-type {
      margin-right: 12px;
      font-size: 32px;
    }
  }

  .card-content {
    padding: 48px 0;
    font-size: 60px;
    font-weight: bold;
  }

  .card-items {
    padding: 0 48px 32px;
  }

  .card-item {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    font-size: 30px;

    .item-title {
      width: 150px;
      color: gray;
    }
  }

  .card-footer {
    position: relative;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 30px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fafafa;
    }

    .btn {
      width: 50%;
      text-align: center;
      padding: 36px 0;

      &.del {
        position: relative;
        color: red;

        &::after {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          width: 2px;
          height: 100%;
          background-color: #fafafa;
        }
      }
    }
  }
}