@import '~@/styles/variables.less';

.detail-container {
  display: flex;
  flex-direction: column;

  .detail-content {
    margin: 16px;
    background-color: #fafafa;

    > view:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    .no-data {
      width: 520px;
      height: 520px;
    }

    .no-data-text {
      margin-top: 12px;
      font-size: 28px;
      color: #ccc;
    }
  }
}