@import '~@/styles/variables.less';

.add-container {
  height: 100vh;
  position: relative;

  .add-header {
    height: 50vh;
    background-color: @primary-color;

    &.expend {
      background-color: @primary-color;
    }

    &.income {
      background-color: @primary-color-2;
    }

    &.none {
      background-color: @primary-color-3;
    }
  }

  .add-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto auto;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 686px;
    height: 80vh;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  .add-content-top {
    display: flex;
    flex-direction: column;
    height: 190px;
    padding: 72px 32px 32px;

    .top-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .add-button-group {
      display: flex;
      flex-direction: row;

      > .add-button-group-item {
        margin-right: 16px;
      }

      .add-button-group-item {
        font-size: 28px;
        padding: 4px 12px;
        color: gray;
        background-color: #eee;
        border-radius: 6px;

        &.expend {
          color: #fff;
          background-color: @primary-color;
        }

        &.income {
          color: #fff;
          background-color: @primary-color-2;
        }

        &.none {
          color: #fff;
          background-color: @primary-color-3;
        }
      }
    }

    .add-date-picker {
      padding: 4px 12px;
      font-size: 28px;
      background-color: #eee;
      border-radius: 6px;
    }

    .top-input-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 48px;

      .top-input-prefix {
        margin-right: 24px;
        font-size: 64px;
        font-weight: bold;
      }

      .top-input {
        font-size: 56px;
        font-weight: bold;
        overflow: hidden;
      }
    }
  }

  .add-content-middle {
    position: relative;
    padding: 12px 32px;
    height: 320px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fafafa;
    }

    .type-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      overflow: scroll;
      height: 250px;
    }

    .input-container {
      position: relative;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fafafa;
      }

      .input-prefix {
        margin-right: 24px;
        font-size: 26px;
        color: #999;
      }

      .middle-input {
        flex: 1;
        color: #999;
        font-size: 30px;
      }
    }

    .type-item {
      flex: 0 0 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: 16px 0;

      .type-text {
        text-align: center;
        width: 120px;
        font-size: 26px;
        padding: 8px 0;
        color: #999;
        background-color: #fafafa;
        border-radius: 5px;

        &.expend {
          color: #fff;
          background-color: @primary-color;
        }

        &.income {
          color: #fff;
          background-color: @primary-color-2;
        }

        &.none {
          color: #fff;
          background-color: @primary-color-3;
        }
      }

      .type-item-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .type-item-title {
        font-size: 20px;
        color: #999;
      }
    }
  }

  .add-content-bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
  }

  .keyboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  .key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 4px;

    &.key:active {
      background-color: #eee;
    }

    &.row-two {
      grid-column-start: 1;
      grid-column-end: 3;
    }


    &.delete {
      background-color: #f2f2f2;
      color: #999;

      &:active {
        background-color: #ccc;
      }
    }

    &.confirm {
      grid-column-start: 4;
      grid-row-start: 2;
      grid-row-end: 5;
      background-color: @primary-color;
      color: #fff;

      &:active {
        opacity: 0.8;
      }

      &.expend {
        background-color: @primary-color;
      }

      &.income {
        background-color: @primary-color-2;
      }

      &.none {
        background-color: @primary-color-3;
      }
    }
  }
}