/** COLOR-THEME-1 **/
@primary-color: #73d1a1;
@primary-color-light: #a0e8c6;
@primary-color-dark: #4dbd8c;

/** COLOR-THEME-2 **/
@primary-color-2: #ecbf59;
@primary-color-2-light: #f4d9a1;
@primary-color-2-dark: #d8a93f;

/** COLOR-THEME-3 **/
@primary-color-3: #bbb;
@primary-color-3-light: #e6e6e6;
@primary-color-3-dark: #b3b3b3;

/** BACKGROUND-COLOR **/
@background-color: #f5f5f5;

/** BORDER-COLOR **/
@divider-color: #fafafa;

/** FONT-COLOR **/
@font-color: #333;
@font-color-light: #666;
@font-color-lighter: #999;

/** FONT-SIZE **/
@font-size-base: 28px;
@font-size-sm: 24px;
@font-size-xs: 20px;
@font-size-lg: 32px;
